

/* ==========================================================================
   Custom styles
   ========================================================================== */

#menu-description {
	margin-top: 30px;
	padding: 15px;
	background-color: #CCCCCC;
}

#menu-description > h2 {
	margin-top: 15px;
}

@media (max-width: 767px) {

	#navbar {
		background-color: #b3e0ff;
		font-size: 1.2em;
	}
	#navbar li:hover {
		background-color: #e6f5ff;
	}
}






